/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --title-decor-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --secondary-title-color: #353430;
  --outline-color: #353430;
  --text-color: #353430;
  --section-title-color: #353430;
  --header-button-color: #353430;
  --header-button-hover-color: #32312d66;
  --decorated-zone-color: #353430;
}
